[run]
omit =
    conflowgen/tests/*
    demo/*
    docs/conf.py
    setup.py
    conflowgen/logging/logging.py

[report]
exclude_lines =
    pragma: no cover
    @abstract
    @abc.abstract
    raise NotImplementedError
