[flake8]
exclude =
    .git,
    .venv,
    __pycache__,
    build,
    docs,
    ConFlowGen.egg-info,
    .pytest_cache,
    .virtual_documents,
    examples,
    data,
    .github

max-line-length = 120

per-file-ignores =
    # imported but unused
    conflowgen/__init__.py: F401
