[flake8]
exclude =
    .git,
    venv,
    __pycache__,
    docs,
    ConFlowGen.egg-info,
    .pytest_cache,
    .virtual_documents,
    "example usage",
    data,
    .github

max-line-length = 120

per-file-ignores =
    # imported but unused
    conflowgen/__init__.py: F401
    # long lines
    conflowgen/domain_models/data_types/mode_of_transport.py: E501
    conflowgen/domain_models/data_types/storage_requirement.py: E501
    conflowgen/domain_models/data_types/mode_of_transport.py: E501
    # equals symbols
    conflowgen/flow_generator/container_flow_generation_service.py: E251
