# requirements.txt

# This file installs the package defined in setup.py and its dependencies.
# The single dot (.) below refers to the current directory, indicating
# that pip should install the package specified in setup.py.

. 

# Note:
# - No additional dependencies are listed here, as they are all managed
#   in the install_requires section of setup.py.
# - If you want to add extra dependencies, you can do so in setup.py.
