name: Linting

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Check code quality with pylint and flake8
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10"]

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies including pylint
      run: |
        pip3 install --user -e .[dev,ui]

    - name: Check code quality with pylint
      run: |
        pylint conflowgen

    - name: Check code quality with flake8
      run: |
        flake8
