name: Tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Run unittests
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Python dependencies
      run: |
        pip3 install --user -e .[dev]

    - name: Test with pytest
      run: |
        pytest --exitfirst --verbose --failed-first --cov="./conflowgen" --cov-report html

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: false
